In [1]:
import pandas as pd
from datetime import date, timedelta

from app import get_last_thursday

urlCatTRAB = "https://docs.google.com/spreadsheets/d/1f1l2OFLYFqWNcy084IiATyquMH7v2nnRx3lKfE8QAH0/gviz/tq?tqx=out:csv&sheet=catTRAB"
urlMEZCLADO = "https://docs.google.com/spreadsheets/d/1fzy0h-g0-LbRxNcURZJqyGuIZOoJHLFkQDZ5vpAb4zc/gviz/tq?tqx=out:csv&sheet=MEZCLADO"
urlLAMINADO = "https://docs.google.com/spreadsheets/d/1fzy0h-g0-LbRxNcURZJqyGuIZOoJHLFkQDZ5vpAb4zc/gviz/tq?tqx=out:csv&sheet=LAMINADO"
urlFORMULADO = "https://docs.google.com/spreadsheets/d/1fzy0h-g0-LbRxNcURZJqyGuIZOoJHLFkQDZ5vpAb4zc/gviz/tq?tqx=out:csv&sheet=FORMULADO"
urlVULCANIZADO = "https://docs.google.com/spreadsheets/d/1fzy0h-g0-LbRxNcURZJqyGuIZOoJHLFkQDZ5vpAb4zc/gviz/tq?tqx=out:csv&sheet=VULCANIZADO"
urlCARDADO = "https://docs.google.com/spreadsheets/d/1fzy0h-g0-LbRxNcURZJqyGuIZOoJHLFkQDZ5vpAb4zc/gviz/tq?tqx=out:csv&sheet=CARDADO"

CATTRAB = pd.read_csv(urlCatTRAB)
MEZCLADO = pd.read_csv(urlMEZCLADO)
LAMINADO = pd.read_csv(urlLAMINADO)
FORMULADO = pd.read_csv(urlFORMULADO)
VULCANIZADO = pd.read_csv(urlVULCANIZADO)
CARDADO = pd.read_csv(urlCARDADO)

last_thursday = get_last_thursday()
today = date.today()

today = today.strftime("%Y/%m/%d")
last_thursday = last_thursday.strftime("%Y/%m/%d")

MEZCLADO["Fecha"] = pd.to_datetime(MEZCLADO["Fecha"], dayfirst=True)
LAMINADO["Fecha"] = pd.to_datetime(LAMINADO["Fecha"], dayfirst=True)
FORMULADO["Fecha"] = pd.to_datetime(FORMULADO["Fecha"], dayfirst=True)
VULCANIZADO["Fecha"] = pd.to_datetime(VULCANIZADO["Fecha"], dayfirst=True)
CARDADO["Fecha"] = pd.to_datetime(CARDADO["Fecha"], dayfirst=True)
LAMINADO["IdTrabajador02"] = LAMINADO["IdTrabajador02"].astype(int)
FORMULADO["idTrabajador02"] = pd.array(FORMULADO["idTrabajador02"])

CATTRAB = CATTRAB.loc[CATTRAB["idNivel"] == 5]
CATTRAB = CATTRAB.sort_values(by=["idNivel"], ascending=False).loc[CATTRAB['idActivo'] == True]
CATTRAB

,idTrabajador,Nombres,APaterno,AMaterno,Foto,idActivo,FecAlta,FecBaja,FecModif,SBC,...,Cel,Contacto,TelContacto,Beneficiario,AhorroSem,Funeraria,Impresiones,Unnamed: 38,Unnamed: 39,Unnamed: 40
1,2,LORENZO,SÁNCHEZ,MARTÍNEZ,CATTRAB_Images/2.Foto.160926.jpg,True,08/02/2006,NaN,16/03/2023,$311.79,...,3.314389e+09,NaN,3.326187e+09,CARMELA GUTIÉRREZ DÍAZ,NaN,True,4.0,NaN,NaN,NaN
23,43,JUAN MANUEL,ÁLVAREZ,GARCÍA,catTRAB_Images/43.Foto.204941.jpg,True,21/09/2020,NaN,16/03/2023,$281.62,...,3.339675e+07,NaN,NaN,NaN,200.0,True,1.0,NaN,NaN,NaN
31,55,VALENTIN FERNANDO,TENORIO,FERNÁNDEZ,catTRAB_Images/56.Foto.164724.jpg,True,13/07/2023,NaN,13/07/2023,$260.23,...,3.323400e+09,CARLOS FERNANDO TENORIO MARTÍNEZ,3.336844e+09,CARLOS FERNANDO TENORIO MARTÍNEZ,NaN,NaN,NaN,NaN,NaN,NaN
28,52,JOSE ALFREDO,JIMENEZ,RIVERA,catTRAB_Images/52.Foto.190835.jpg,True,27/03/2023,NaN,01/06/2023,$281.22,...,NaN,NaN,NaN,FÁTIMA ALEJANDRA TORRES MADRIGAL,NaN,NaN,NaN,NaN,NaN,NaN
22,42,VICENTE MANUEL,VARGAS,GONZÁLEZ,catTRAB_Images/42.Foto.205136.jpg,True,10/06/2020,NaN,16/03/2023,$282.17,...,NaN,NaN,3.313957e+09,CECILIA GONZÁLEZ RODRÍGUEZ,100.0,True,NaN,NaN,NaN,NaN
4,5,LUIS ALBERTO,GUTIÉRREZ,DÍAZ,CATTRAB_Images/5.Foto.160950.jpg,True,08/02/2006,NaN,16/03/2023,$283.46,...,3.310634e+09,NaN,NaN,NaN,150.0,True,5.0,NaN,NaN,NaN
10,16,MANUEL,GARCÍA,ORTÍZ,CATTRAB_Images/16.Foto.161216.jpg,True,08/02/2006,NaN,16/03/2023,$283.46,...,3.339651e+09,NaN,NaN,NaN,400.0,True,NaN,NaN,NaN,NaN
8,14,MARIA FELICITAS,ARANDA,ZEPEDA,catTRAB_Images/14.Foto.205021.jpg,True,13/02/2021,NaN,16/03/2023,$282.17,...,3.326371e+09,NaN,NaN,NaN,250.0,True,NaN,NaN,NaN,NaN
7,11,MIGUEL ÁNGEL,LOERA,DELGADILLO,CATTRAB_Images/11.Foto.161116.jpg,True,08/02/2006,NaN,16/03/2023,$283.46,...,3.312790e+09,NaN,NaN,NaN,100.0,True,NaN,NaN,NaN,NaN
32,56,MANUEL,SAUCEDO,SERRANO,catTRAB_Images/55.Foto.185741.jpg,True,13/07/2023,NaN,13/07/2023,$260.23,...,3.324045e+09,MARIA LETICIA GRANADOS BARRERA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
FILTERED_FORMULADO = FORMULADO[FORMULADO["Fecha"].isin(
    pd.date_range(last_thursday, today))]
MERGED_FORMULADO = FILTERED_FORMULADO.merge(
    CATTRAB, on=["idTrabajador"], how="right")

# Create a dictionary to store the indices for each 'idTrabajador02'
formulado_indices = {}

# Iterate over the rows of 'MERGED_FORMULADO' and populate the indices_dict
for index, row in MERGED_FORMULADO.iterrows():
    if pd.notna(row['Fecha']):
        id_trabajador_01 = row["idTrabajador"]
        id_trabajador_02 = row['idTrabajador02']
        fecha = row['Fecha']

        if id_trabajador_01 in formulado_indices:
            formulado_indices[int(id_trabajador_01)].append(fecha)
        else:
            formulado_indices[int(id_trabajador_01)] = [fecha]

        # Skip if 'idTrabajador02' is NaN
        if pd.isna(id_trabajador_02):
            continue

        # Add the index to the list of indices for 'idTrabajador02'
        for id in id_trabajador_02.split(','):
            formulado_indices[int(id)] = fecha

            if pd.notna(id) and id_trabajador_02 in formulado_indices:
                formulado_indices[int(id)].append(fecha)
            elif pd.notna(id):
                formulado_indices[int(id)] = [fecha]

ValueError: invalid literal for int() with base 10: '2,5,42'

In [ ]:
FILTERED_MEZCLADO = MEZCLADO[MEZCLADO["Fecha"].isin(
    pd.date_range(last_thursday, today))]

MERGED_MEZCLADO = FILTERED_MEZCLADO.merge(
    CATTRAB, on=["idTrabajador"], how="right")

mezclado_indices = {}

for index, row in MERGED_MEZCLADO.iterrows():
    if pd.notna(row['Fecha']):
        id_trabajador_01 = row['idTrabajador']
        fecha = row['Fecha']

        if id_trabajador_01 in mezclado_indices:
            mezclado_indices[int(id_trabajador_01)].append(fecha)
        else:
            mezclado_indices[int(id_trabajador_01)] = [fecha]

In [ ]:
FILTERED_LAMINADO = LAMINADO[LAMINADO["Fecha"].isin(
    pd.date_range(last_thursday, today))]
data = FILTERED_LAMINADO.merge(CATTRAB, on=["idTrabajador"], how="right")

ayudantes = data[data['IdTrabajador02'].notna()]
ayudantes = ayudantes[['IdTrabajador02', 'Fecha']].copy()
ayudantes.columns = ['idTrabajador', 'Fecha_Ayudante']
MERGED_LAMINADO = pd.merge(
    data, ayudantes, how='left', left_on='idTrabajador', right_on='idTrabajador')
MERGED_LAMINADO.loc[MERGED_LAMINADO['Fecha_Ayudante'].notna(
), 'Fecha'] = MERGED_LAMINADO['Fecha_Ayudante']

laminado_indices = {}

for index, row in MERGED_LAMINADO.iterrows():
    if pd.notna(row['Fecha']):
        id_trabajador_01 = row["idTrabajador"]
        id_trabajador_02 = row['IdTrabajador02']
        fecha = row['Fecha']
        
        if id_trabajador_01 in laminado_indices:
            laminado_indices[int(id_trabajador_01)].append(fecha)
        else:
            laminado_indices[int(id_trabajador_01)] = [fecha]

        if pd.notna(id_trabajador_02) and id_trabajador_02 in laminado_indices:
            laminado_indices[int(id_trabajador_02)].append(fecha)
        elif pd.notna(id_trabajador_02):
            laminado_indices[int(id_trabajador_02)] = [fecha]

In [ ]:
FILTERED_VULCANIZADO = VULCANIZADO[VULCANIZADO["Fecha"].isin(
    pd.date_range(last_thursday, today))]
data = FILTERED_VULCANIZADO.merge(
    CATTRAB, on=["idTrabajador"], how="right")

ayudantes = data[data['idTrabajador02'].notna()]
ayudantes = ayudantes[['idTrabajador02', 'Fecha']].copy()
ayudantes.columns = ['idTrabajador', 'Fecha_Ayudante']
MERGED_VULCANIZADO = pd.merge(
    data, ayudantes, how='left', left_on='idTrabajador', right_on='idTrabajador')
MERGED_VULCANIZADO.loc[MERGED_VULCANIZADO['Fecha_Ayudante'].notna(
), 'Fecha'] = MERGED_VULCANIZADO['Fecha_Ayudante']

vulcanizado_indices = {}

for index, row in MERGED_VULCANIZADO.iterrows():
    if pd.notna(row['Fecha']):
        id_trabajador_01 = row["idTrabajador"]
        id_trabajador_02 = row['idTrabajador02']
        fecha = row['Fecha']

        if id_trabajador_01 in vulcanizado_indices:
            vulcanizado_indices[int(id_trabajador_01)].append(fecha)
        else:
            vulcanizado_indices[int(id_trabajador_01)] = [fecha]

        if pd.notna(id_trabajador_02) and id_trabajador_02 in vulcanizado_indices:
            vulcanizado_indices[int(id_trabajador_02)].append(fecha)
        elif pd.notna(id_trabajador_02):
            vulcanizado_indices[int(id_trabajador_02)] = [fecha]

In [ ]:
FILTERED_CARDADO = CARDADO[CARDADO["Fecha"].isin(
    pd.date_range(last_thursday, today))]
data = FILTERED_CARDADO.merge(CATTRAB, on=["idTrabajador"], how="right")

ayudantes = data[data['idTrabajador02'].notna()]
ayudantes = ayudantes[['idTrabajador02', 'Fecha']].copy()
ayudantes.columns = ['idTrabajador', 'Fecha_Ayudante']
MERGED_CARDADO = pd.merge(
    data, ayudantes, how='left', left_on='idTrabajador', right_on='idTrabajador')
MERGED_CARDADO.loc[MERGED_CARDADO['Fecha_Ayudante'].notna(
), 'Fecha'] = MERGED_CARDADO['Fecha_Ayudante']

cardado_indices = {}

for index, row in MERGED_CARDADO.iterrows():
    if pd.notna(row['Fecha']):
        id_trabajador_01 = row["idTrabajador"]
        id_trabajador_02 = row['idTrabajador02']
        fecha = row['Fecha']

        if id_trabajador_01 in cardado_indices:
            cardado_indices[int(id_trabajador_01)].append(fecha)
        else:
            cardado_indices[int(id_trabajador_01)] = [fecha]

        if pd.notna(id_trabajador_02) and id_trabajador_02 in cardado_indices:
            cardado_indices[int(id_trabajador_02)].append(fecha)
        elif pd.notna(id_trabajador_02):
            cardado_indices[int(id_trabajador_02)] = [fecha]

In [ ]:
# Combine all dictionaries
combined_dict = {}
dictionaries = [formulado_indices, mezclado_indices, laminado_indices, vulcanizado_indices, cardado_indices]

print("formulado:", formulado_indices)
print("mezclado:", mezclado_indices)
print("laminado:", laminado_indices)
print("vulcanizado:", vulcanizado_indices)
print("cardado:", cardado_indices)

# Merge dictionaries
for dictionary in dictionaries:
    for key, value in dictionary.items():
        for d in set(value):
            if key in combined_dict:
                combined_dict[key].append(d)
            else:
                combined_dict[key] = [d]

for key, value in combined_dict.items():
    combined_dict[key] = set(value)

combined_dict

formulado: {}
mezclado: {5: [Timestamp('2023-07-26 00:00:00')]}
laminado: {43: [Timestamp('2023-07-27 00:00:00'), Timestamp('2023-07-27 00:00:00')], 42: [Timestamp('2023-07-27 00:00:00')], 11: [Timestamp('2023-07-21 00:00:00')], 23: [Timestamp('2023-07-21 00:00:00')]}
vulcanizado: {52: [Timestamp('2023-07-20 00:00:00'), Timestamp('2023-07-20 00:00:00'), Timestamp('2023-07-20 00:00:00'), Timestamp('2023-07-21 00:00:00'), Timestamp('2023-07-21 00:00:00'), Timestamp('2023-07-25 00:00:00'), Timestamp('2023-07-25 00:00:00'), Timestamp('2023-07-25 00:00:00'), Timestamp('2023-07-26 00:00:00'), Timestamp('2023-07-26 00:00:00')], 16: [Timestamp('2023-07-20 00:00:00'), Timestamp('2023-07-20 00:00:00'), Timestamp('2023-07-20 00:00:00'), Timestamp('2023-07-21 00:00:00'), Timestamp('2023-07-21 00:00:00'), Timestamp('2023-07-25 00:00:00'), Timestamp('2023-07-25 00:00:00'), Timestamp('2023-07-25 00:00:00'), Timestamp('2023-07-26 00:00:00'), Timestamp('2023-07-26 00:00:00'), Timestamp('2023-07-20 00:00:00'), Timestamp('2023-07-20 00:00:00'), Timestamp('2023-07-20 00:00:00'), Timestamp('2023-07-21 00:00:00'), Timestamp('2023-07-21 00:00:00'), Timestamp('2023-07-25 00:00:00'), Timestamp('2023-07-25 00:00:00'), Timestamp('2023-07-25 00:00:00'), Timestamp('2023-07-26 00:00:00'), Timestamp('2023-07-26 00:00:00')]}
cardado: {2: [Timestamp('2023-07-20 00:00:00'), Timestamp('2023-07-20 00:00:00'), Timestamp('2023-07-21 00:00:00'), Timestamp('2023-07-21 00:00:00'), Timestamp('2023-07-21 00:00:00'), Timestamp('2023-07-21 00:00:00'), Timestamp('2023-07-22 00:00:00'), Timestamp('2023-07-22 00:00:00'), Timestamp('2023-07-22 00:00:00'), Timestamp('2023-07-24 00:00:00'), Timestamp('2023-07-24 00:00:00'), Timestamp('2023-07-24 00:00:00'), Timestamp('2023-07-25 00:00:00'), Timestamp('2023-07-26 00:00:00'), Timestamp('2023-07-27 00:00:00'), Timestamp('2023-07-27 00:00:00'), Timestamp('2023-07-27 00:00:00')], 14: [Timestamp('2023-07-20 00:00:00'), Timestamp('2023-07-20 00:00:00'), Timestamp('2023-07-21 00:00:00'), Timestamp('2023-07-21 00:00:00'), Timestamp('2023-07-21 00:00:00'), Timestamp('2023-07-21 00:00:00'), Timestamp('2023-07-22 00:00:00'), Timestamp('2023-07-22 00:00:00'), Timestamp('2023-07-22 00:00:00'), Timestamp('2023-07-24 00:00:00'), Timestamp('2023-07-24 00:00:00'), Timestamp('2023-07-24 00:00:00'), Timestamp('2023-07-25 00:00:00'), Timestamp('2023-07-20 00:00:00'), Timestamp('2023-07-20 00:00:00'), Timestamp('2023-07-21 00:00:00'), Timestamp('2023-07-21 00:00:00'), Timestamp('2023-07-21 00:00:00'), Timestamp('2023-07-21 00:00:00'), Timestamp('2023-07-22 00:00:00'), Timestamp('2023-07-22 00:00:00'), Timestamp('2023-07-22 00:00:00'), Timestamp('2023-07-24 00:00:00'), Timestamp('2023-07-24 00:00:00'), Timestamp('2023-07-24 00:00:00'), Timestamp('2023-07-25 00:00:00')]}

{5: {Timestamp('2023-07-26 00:00:00')},
 43: {Timestamp('2023-07-27 00:00:00')},
 42: {Timestamp('2023-07-27 00:00:00')},
 11: {Timestamp('2023-07-21 00:00:00')},
 23: {Timestamp('2023-07-21 00:00:00')},
 52: {Timestamp('2023-07-20 00:00:00'),
  Timestamp('2023-07-21 00:00:00'),
  Timestamp('2023-07-25 00:00:00'),
  Timestamp('2023-07-26 00:00:00')},
 16: {Timestamp('2023-07-20 00:00:00'),
  Timestamp('2023-07-21 00:00:00'),
  Timestamp('2023-07-25 00:00:00'),
  Timestamp('2023-07-26 00:00:00')},
 2: {Timestamp('2023-07-20 00:00:00'),
  Timestamp('2023-07-21 00:00:00'),
  Timestamp('2023-07-22 00:00:00'),
  Timestamp('2023-07-24 00:00:00'),
  Timestamp('2023-07-25 00:00:00'),
  Timestamp('2023-07-26 00:00:00'),
  Timestamp('2023-07-27 00:00:00')},
 14: {Timestamp('2023-07-20 00:00:00'),
  Timestamp('2023-07-21 00:00:00'),
  Timestamp('2023-07-22 00:00:00'),
  Timestamp('2023-07-24 00:00:00'),
  Timestamp('2023-07-25 00:00:00')}}